* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: tan;
}

.body-text {
  display: flex;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: orange;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.nav-links li {
  list-style: none;
}

.heading {
  color: darkblue;
  font-size: 20px;
}

.nav-links a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 12px;
  border-radius: 2px;
}

.nav-links li:hover:not(.active) {
  background-color: aqua;
  color: darkblue;
}

.nav-links li:not(.active) {
  background-color: none;
  border: 4px none;
  padding-top: 5px;
}

.active {
  /*  border-top: 3px solid darkblue;*/
  padding-top: 3px;
  background-color: lightgray;
}
